/* CSS Styling of the game. Generic and tag specific styling listed first */
* {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4 {
	font-family: "Franklin Gothic Heavy", Impact, "Arial Black", sans-serif;
}

body {
	font-family: "Franklin Gothic Heavy", Impact, "Arial Black", sans-serif;
	background-color: beige;
	color: black;
}

header {
	margin: 24px;
	background-color: inherit;
	color: white;
	font-size: 1.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

footer {
	font-family: Rockwell, Cambria, "Times New Roman", serif;
	text-align: center;
	font-size: .9em;
	margin: 12px 0;
	width: 768px;
}
